*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

nav{
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    list-style: none;
    letter-spacing: 0.03em;
}

.navbar li a {
    color: #212121;
    text-decoration: none;
    margin-left: 25px;
}

.logo{
    margin-right: auto;
    margin-left: auto;
    width: 200px;
}

.linki{
    width: 25%;
    list-style-type: none;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
}

.linki a{
    text-decoration: none;
    margin-right: 20px;
    color: #212121;
}

.basket{
    align-items: center;
}

.sale{
    margin: 138px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winter_sale{
    columns: 2;
}

.winter_sale h2{
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #000000;
}

.winter_sale h1{
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.04em;
    color: #000000;
}

.boots{
    width: 456px;
}

.knopka{
    width: 240px;
    height: 55px;
    background: #D7B399;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    border: none;
}

.footer1{
    height: 140px;
    background-color: #212121;
    text-align: center;
}

.p1{
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.p2{
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.collection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 270px;
}

.s1{
    display: flex;
} 

.collection h2{
    margin-top: 10px;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    color: #000000;
}

.collection button{
    width: 80px;
    height: 30px;
    background: #D7B399;
    border: none;
    margin-top: 44px;
    width: 90px;
    line-height: 4px;
}

.panel{
    margin: 0 150px;    
}

.catalog1{
    display: flex;
    justify-content: space-between;
}

.catalog2{
    display: flex;
    justify-content: space-between;
}

.dress{
    width: 200px;
    height: 150px;
}

.new_model{
    margin: 100px 150px;
}

.new_model h2{
    text-align: center;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #212121;
}

.panel1{
    margin: 100px 150px;
    display: flex;
    justify-content: center;
}

.panel1 img{
    width: 200px;
    margin: 20px;
}

.knopka1{
    text-align: center;
}

.knopka1 button{
    width: 220px;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    background: #D7B399;
    color: #FFFFFF;
    border: none;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
}

.footer2{
    width: 100%;
    height: 180px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer2 p{
    margin: 15px;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.02em; 
    color: #FFFFFF;
    text-transform: uppercase;
}

.footer2 input{
    width: 255px;
    height: 40px;
    margin: 15px;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em; 
    color: #8D8D8D;
}

.footer2 button{
    width: 185px;
    height: 40px;
    background: #D7B399;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.footer3{
    width: 100%;
    height: 311px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212121;
}

.footer3 a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;  
    color: #CBCFD4;
}

.footer3 ol{
    list-style: none;
}

.footer3 h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px; 
}

.footer_logo{
    width: 200px;
    height: 88px;
    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.copyright{
    height: 52px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}

@media screen and (max-width: 1000px){
    .nav{
        display: none;
    }

    .linki a{
        display: none;
    }

    .basket a{
        display: none;
    }

    .logo{
        margin-left: 0;
        margin-right: 0;
    }
}   

@media screen and (max-width: 800px) {
    .winter_sale{
        columns: 1;
    }

    .dress{
        width: 100px;
        height: 75px;
    }

    .panel1 img{
        width: 100px;
    }

}
